<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>

</head>
<body>
    {% extends 'portfolio/layout.html' %}

    {% block main %}
        {% load static %}

        <div class = "introdegree">
            <h1>About me</h1>
            <p>Currently I'm studying Computer Science and Engineering at Lusófona.</p>
            <br>
            <h1>Degree</h1>
            <p>You can check out the subjects that I had on my degree with great detail.</p>
            <br>

            {% if request.user.is_authenticated %}
                <a class = "botaonovo" href="{% url 'portfolio:novacadeira' %}">Add new class</a>
            {% endif %}

        </div>

        <div class = "cadeiras">

            {% for cadeira in cadeiras %}
                <div >
                    <h2>{{ cadeira.nome }} - {{ cadeira.ano }}º year</h2>
                    <p>{{ cadeira.ranking }} stars</p>
                    <p>Ects: {{ cadeira.etcs }}</p>
                    <br>
                    <p>Topics:<br>{{ cadeira.topicos }}</p>
                    <br>
                    {% if cadeira.docente_teorica.linkLinkedin != null %}
                        <p>Teacher of theory:
                        <a href="{{ cadeira.docente_teorica.linkLinkedin }}">{{ cadeira.docente_teorica }}</a>
                        </p>
                    {% endif %}

                    <br>
                    {% if cadeira.docente_pratica.linkLinkedin != null %}
                        <p>Teacher of practices:
                        <a href="{{ cadeira.docente_pratica.linkLinkedin }}">{{ cadeira.docente_pratica }}</a>
                        </p>
                    {% endif %}

                    <br>
                </div>
            {% endfor %}

        </div>

        <div class = "introdegree">
            <h1>My education</h1>
            <p>This is where I graduated from high school and had the best experiences of my teenager life.</p>
        </div>

        <div class = "escolas">
            <div>
                <div>
                    <p><b>Nobel - Science and Technologys (2012-2020)</b><br>

                        <br><b>General formation:</b>

                        <br>English (17v)
                        <br>Philosophy (18v)
                        <br>Physical Education (15v)
                        <br>Portuguese (15v)<br>

                        <br><b>Specific:</b>

                        <br>Descriptive Geometry A (20v - Final exam: 18.7v)
                        <br>Mathematics A (17v - Final exam: 19.5v)
                    </p>
                </div>
                <div><img src="{% static 'portfolio/images/cs-logotipo_nobel.jpg' %}" alt=""></div>
            </div>
        </div>

        <div class = "introdegree">
            <h1>Certificates</h1>
            <p>Let's go through some of my achivements!</p>
            <br>
        </div>

        <div class = "certificados">
            <div>

                <div class = "introdegree">
                    <h1>Science Fair of Nobel</h1>
                    <p>I participated for 3 consecutive years on the Science Fair from my school.
                        <br>I had the opportunity to present fascinating curiositys in an interactive way and with a scientific explanation
                        (both in english and portuguese) in front of every class from the school.
                    </p>
                    <br>
                </div>
                <div class = "slider">
                    <div class = "images1">
                        <input type = "radio" name="slide1" id="img1" checked>
                        <input type = "radio" name="slide1" id="img2">
                        <input type = "radio" name="slide1" id="img3">
                        <img src="{% static 'portfolio/images/feira10.png' %}" class = "m1" alt="img1">
                        <img src="{% static 'portfolio/images/feira11.png' %}" class = "m2" alt="img2">
                        <img src="{% static 'portfolio/images/feira12.png' %}" class = "m3" alt="img3">
                    </div>
                    <div class = "dots1">
                        <label for = "img1" ></label>
                        <label for = "img2" ></label>
                        <label for = "img3" ></label>
                    </div>
                </div>

                <br>

                <div class = "introdegree">
                    <h1>Honor student</h1>
                    <p>Throughout my high school years, I've achieved one of my biggest accomplishments.<br>
                        On my 11th year I was nominated the Student of Merit of my class, because of my excellents results of that year.<br>
                        Also, I participated in the Helping Hand program, in which I showed a great commitment as a mentor to younger pupils.<br>
                        On 2020, I'm proud to say that I was an Honor level Student from Nobel, with a final average above 17.
                    </p>
                    <br>
                </div>

                <div class = "slider">
                    <div class = "images2">
                        <input type = "radio" name="slide2" id="img4" checked>
                        <input type = "radio" name="slide2" id="img5">
                        <input type = "radio" name="slide2" id="img6">
                        <img src="{% static 'portfolio/images/merito.png' %}" class = "m4" alt="img4">
                        <img src="{% static 'portfolio/images/helpinghand.png' %}" class = "m5" alt="img5">
                        <img src="{% static 'portfolio/images/honra.png' %}" class = "m6" alt="img6">
                    </div>
                    <div class = "dots2">
                        <label for = "img4" ></label>
                        <label for = "img5" ></label>
                        <label for = "img6" ></label>
                    </div>
                </div>

                <br>

                <div class = "introdegree">
                    <h1>Music lover</h1>
                    <p>These are some certificates that I own, which remind me of some events that I loved to be part of.</p>
                    <br>
                </div>

                <div class="slider2">
                    <div class="images3">
                        <img src="{% static 'portfolio/images/danca.png' %}" class = "m7" alt="img7">
                        <img src="{% static 'portfolio/images/piano.png' %}" class = "m8" alt="img8">
                    </div>
                </div>

                <br>

            </div>
        </div>

        <div class = "introdegree">
            <h1>Volunteering</h1>
            <br>
        </div>

        <div class = "voluntariado">
            <div>
                <div><img src="{% static 'portfolio/images/int-logotipo2 lusofona.png' %}" alt=""></div>
                <div id = "textvoluntariado">
                    <p><br>I manage all the social networks at the Department of Computer Engineering and Information Systems at Universidade Lusófona.
                        Including Tiktok, Instagram and Youtube.
                    <br><br>I created the logo of our Department, and I edited this video using Adobe Premiere Pro.
                    <br><br>I assure the social networks stay active, and I'm always creating new content every week.</p>
                </div>
                <div>
                    <figure>
                        <iframe src="https://www.youtube.com/embed/fFEQvthQR6Y"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </figure>
                </div>
            </div>
        </div>

        <div class = "introdegree">
            <h1>Hobbies</h1>
            <p>I love music! Singing, dancing and playing instruments was always a part of my life.</p>
            <br>
        </div>

        <div class = "hobbies">
            <div>
                <img src="{% static 'portfolio/images/int-logotipo festadamusica.png' %}" alt="">
                <p>I've been to a few music institutions, this was the last one that I've been to (2017-2020) and the one that I liked the most.
                <br>I learned to play the flute, the guitar and the piano. However, I felt more connected to the piano, and I've been playing it since I was a little girl.
                <br>I'm self-taught too, when I feel like I want to learn something new, I do it without a doubt!
                <br> <b>(2008-Now)</b> </p>
            </div>

            <div>
                <img src="{% static 'portfolio/images/int-logotipo karens.png' %}" alt="">
                <p>I love dancing. I met great people in this academy, and I had the most gratifying experiences of my entire life.
                <br>I had the pleasure of learning three dance genres: tap, hip hop and jazz.
                <br>I developed leadership skills to further improve my dance group's performance.
                <br> <b>(2015-2020)</b></p>
            </div>
        </div>


    {% endblock main %}

</body>
</html>