<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>

    {% extends 'portfolio/layout.html' %}

    {% block main %}
        <div class = "introblog">
            <h1>Blog</h1>
        </div>

        <div class = "listaposts">

            {% for post in posts %}
                <div>
                    <h3>{{ post.titulo }}</h3>
                    <p>{{ post.descricao }}
                    <br>
                    <br>
                    {% if post.link != null %}
                        <a class = "botaomore" href="{{ post.link }}">More</a>
                    {% endif %}</p>
                    <br>
                    Post by {{ post.autor }} on {{ post.criado }}
                    <br>
                </div>
            {% endfor %}

        </div>

        <div class = "novopost">
            <form action="" method="POST">

            <h2>New post</h2>
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Publicar" class="botaosubmeter">
            </form>
        </div>

    {% endblock main %}

</body>
</html>