<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Degree</title>

</head>
<body>
    {% extends 'portfolio/layout.html' %}

    {% block main %}
        {% load static %}

        <div class = "introdegree">
            <h1>About me</h1>
            <p>Currently I'm studying Computer Science and Engineering at Lusófona.</p>
            <br>
            <h2>Degree</h2>
            <p>You can check out the subjects that I had on my degree with great detail.</p>
            <br>

            {% if request.user.is_authenticated %}
                <a class = "botaonovo" href="{% url 'portfolio:novacadeira' %}">Add new class</a>
            {% endif %}

        </div>

        <div class = "cadeiras">

            {% for cadeira in cadeiras %}
                <div >
                    <h2>{{ cadeira.nome }}</h2>
                    <p>Ano: {{ cadeira.ano }}º<p>
                    <p>{{ cadeira.ranking }} estrelas</p>
                    <p>Ects: {{ cadeira.etcs }}</p>
                    <p>Tópicos:<br>{{ cadeira.topicos }}</p>

                    <p>Professor teórica: {{ cadeira.docente_teorica }}</p>
                    <p>
                    {% if cadeira.docente_teorica.linkLusofona != null %}
                        link: {{ cadeira.docente_teorica.linkLusofona }}
                    {% endif %}
                    <br>
                    {% if cadeira.docente_teorica.linkLinkedin != null %}
                        link: {{ cadeira.docente_teorica.linkLinkedin }}
                    {% endif %}
                    </p>

                    <p>Professor prática: {{ cadeira.docentes_praticas }}</p>
                    <p>
                    {% if cadeira.docentes_praticas.linkLusofona != null %}
                        link: {{ cadeira.docentes_praticas.linkLusofona }}
                    {% endif %}
                    <br>
                    {% if cadeira.docentes_praticas.linkLinkedin != null %}
                        link: {{ cadeira.docentes_praticas.linkLinkedin }}
                    {% endif %}
                    </p>
                    <br>
                </div>
            {% endfor %}

        </div>

        <div class = "introdegree">
            <h2>My education</h2>
            <p>This is where I graduated from high school and had the best experiences of my teenager life.</p>
        </div>

        <div class = "escolas">
            <div>
                <div>
                    <p><b>Nobel - Science and Technologys (2012-2020)</b><br>

                        <br><b>General formation:</b>

                        <br>English (17v)
                        <br>Philosophy (18v)
                        <br>Physical Education (15v)
                        <br>Portuguese (15v)<br>

                        <br><b>Specific:</b>

                        <br>Descriptive Geometry A (20v - Final exam: 18.7v)
                        <br>Mathematics A (17v - Final exam: 19.5v)
                    </p>
                </div>
                <div><img src="{% static 'portfolio/images/cs-logotipo_nobel.jpg' %}" alt=""></div>
            </div>
        </div>

        <div class = "introdegree">
            <h2>Certificates</h2>
            <p>Let's go through some of my achivements!</p>
            <br>
        </div>

        <div class = "certificados">
            <div>
                <div>
                    <h3>Extracurricular programs</h3>
                    <p>I participated for 3 consecutive years on the Science Fair from my school.
                        <br>I had the opportunity to present fascinating curiositys in an interactive way and with a scientific explanation
                        (both in english and portuguese) in front of every class from the school.
                    </p>
                    <br>
                </div>
                <div class = "slider">
                    <div class = "images1">
                        <input type = "radio" name="slide" id="img1" checked>
                        <input type = "radio" name="slide" id="img2">
                        <input type = "radio" name="slide" id="img3">
                        <img src="{% static 'portfolio/images/feira10.png' %}" class = "m1" alt="img1">
                        <img src="{% static 'portfolio/images/feira11.png' %}" class = "m2" alt="img2">
                        <img src="{% static 'portfolio/images/feira12.png' %}" class = "m3" alt="img3">
                    </div>
                    <div class = "dots1">
                        <label for = "img1" ></label>
                        <label for = "img2" ></label>
                        <label for = "img3" ></label>
                    </div>
                </div>
            </div>
        </div>


    {% endblock main %}

</body>
</html>