<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Degree</title>

</head>
<body>
    {% extends 'portfolio/layout.html' %}

    {% block main %}
        <div class = "introdegree">
            <h1>Degree</h1>
            <p>Currently I'm studying Computer Science and Engineering at Lusófona.</p>
        </div>

        <div class = "cadeiras">

            {% for cadeira in cadeiras %}
                <div >
                    <h2>{{ cadeira.nome }}</h2>
                    <p>Ano: {{ cadeira.ano }}º<p>
                    <p>{{ cadeira.ranking }} estrelas</p>
                    <p>Etcs: {{ cadeira.etcs }}</p>
                    <p>Tópicos:<br>{{ cadeira.topicos }}</p>
                    <p>Professor teórica: {{ cadeira.decente_fk.nome }}</p>
                    <p>
                    {% if professor.linkLusofona != null %}
                        link: {{ professor.linkLusofona }}
                    {% endif %}
                    <br>
                    {% if professor.linkLinkedin != null %}
                        link: {{ professor.linkLinkedin }}
                    {% endif %}
                    </p>
                    {% if cadeira.projetos != null %}
                        Projeto: {{ cadeira.projetos.nome }}
                    {% endif %}
                    <br>
                </div>
            {% endfor %}

        </div>


        <div class="cadeiras">
            <div>
              <h2>Programação Web</h2>
              <p>Texto texto texto texto texto texto texto texto texto texto texto texto texto</p>
            </div>

            <div>
              <h2>Sinais e Sistemas</h2>
              <p>Texto texto texto texto texto texto texto texto texto texto texto texto</p>
            </div>

            <div>
              <h2>Algoritmia e Estrutura de Dados</h2>
              <p>Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto</p>
            </div>

        </div>
    {% endblock main %}

</body>
</html>