<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body>

    {% extends 'portfolio/layout.html' %}

    {% block main %}
        {% load static %}
        <div class = "heroImage" style="background-image: url({% static 'portfolio/images/herogif.gif' %});">
            <div><h1 class="motivational">Coding is today's language of creativity!</h1></div>
        </div>

        <article class="primeiro">
            <p>
                <br>
                <br>
                <b><i>Coding is today's language of creativity!</i></b>
                <br>
                This is why I chose to persue this degree.
                I strongly believe that programming gives you freedom to create anything you wish or need!
                <br>
                In my Computer Science and Enginnering's degree, what I mostly liked to do was coding, especially
                softwares related to Games.
                <br>
                In the future, I would love to work for a company that would be able to still teach me new things everyday in order to keep
                my interest and love for this job.
            </p>
        </article>

        {% load static %}
        <article class='segundo' style="background-image: url({% static 'portfolio/images/herogif.gif' %});">
        </article>

        <div class = "intro">
            <br>
            <h1>Home</h1>
            <br>

            <p>
                {% if hora > 12 %}
                    I hope you're having a great day!
                {% else %}
                    I hope your day is starting well!
                {% endif %}
            </p>

            <p>(Current time:  {{ hora }}
                {% if hora > 12 %}
                    p.m
                {% else %}
                    a.m
                {% endif %})</p>

            {% load static %}
            <br>
        </div>

    {% endblock main %}

</body>
</html>