<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body>

    {% extends 'portfolio/layout.html' %}

    {% block main %}

        <div class = "heroImage">
            <div><h1>Welcome!</h1></div>

            <div style="color: black"></div>
        </div>

        <br>
        <h1>Home</h1>
        <br>

        <p>
            {% if hora > 12 %}
                I hope you're having a great day!
            {% else %}
                I hope your day is starting well!
            {% endif %}
        </p>

        <p>(Current time:  {{ hora }}
            {% if hora > 12 %}
                p.m
            {% else %}
                a.m
            {% endif %})</p>

        {% load static %}
        <br>

        <h2>Contact</h2>
        <p>Please, do contact me: inesou02@hotmail.com</p>

    {% endblock main %}

</body>
</html>