<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Projects</title>

</head>
<body>

    {% extends 'portfolio/layout.html' %}

    {% block main %}
        {% load static %}

        <div class = "introprojects">
            <h1>Projects</h1>
            <p>Here you will be able to see what projects I've done so far.</p>
        </div>

        <section>
                <div class = "projetos" id = "projetos">
                    <div>
                        <div><img src="{% static 'portfolio/images/xadrez.jpg' %}" alt = ""></div>
                        <div><p>Board Game - Chess
                            <br>This was the first project I did as a group for the Fundamentos de Programação's project (1st semester of the 1st year).
                            <br>The program, developed in Kotlin, is a version of the well-known “Board Game - Chess”, in which most of the rules of the traditional game are followed.
                            <br>With that being said, this game gives users the possibility to choose the dimensions of the board as well as the possibility of being able to see the pieces.
                            <br>The game begins!, in which each piece has its own movement on the board.
                            <br>The player who manages to "eat" all the opponent's pieces wins!</p></div>
                    </div>

                    <div>
                        <div><img src="{% static 'portfolio/images/zodiac.jpg' %}" alt = ""></div>
                        <div><p>Zodiac
                            <br>This project was developed for the Linguagens de Programação's discipline (2nd semester of the 1st year).
                            <br>This program (C language) only needs the date of birth and the current date, and easily determines the user's age and sign.
                            <br>In addition, the program also determines whether the person is fit to work or is eligible for retirement.</div>
                    </div>

                    <div>
                        <div><img src="{% static 'portfolio/images/heroimage.jpg' %}" alt = ""></div>
                        <div><p>Arquitetura Avançada de Computadores - Arduino</p></div>
                    </div>

                </div>

            </section>

    {% endblock main %}

</body>
</html>