<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Projects</title>

</head>
<body>

    {% extends 'portfolio/layout.html' %}

    {% block main %}
        {% load static %}

        <div class = "introprojects">
            <h1>Projects</h1>
            <h1>My Projects</h1>
            <p>Here you will be able to see what projects I've done so far.</p>
            <br>
            {% if request.user.is_authenticated %}
                <a class = "botaonovo" href="{% url 'portfolio:novoprojeto' %}">Add new project</a>
            {% endif %}
        </div>


        <section>
            <div class = "projetos" id = "projetos">

                {% for projeto in projetos %}
                    <div>
                        <div><img src="{{ projeto.imagem.url }}" alt=""></div>
                        <div><p><b>{{ projeto.nome }}</b><br>
                            {{ projeto.descricao }}</p></div>
                    </div>
                {% endfor %}


                <div>
                    <div><img src="{% static 'portfolio/images/labs.png'%}" alt = ""></div>
                    <div><p><b>Web Development Labs</b><br>
                        You can check out this project by yourself.<br>
                        <a href="https://pw-labs-inesmarques-a22001936.herokuapp.com/">Click on this link!</a>
                    </p></div>
                </div>

            </div>

        </section>


        <div class = "introprojects">
            <h1>Best Final Year Project's from my University</h1>
            <p>These are some of the best Final Year Projects that I have seen and would like to share with you.</p>
            <br>
            {% if request.user.is_authenticated %}
                <a class = "botaonovo" href="{% url 'portfolio:novotfc' %}">Add new tfc</a>
            {% endif %}
        </div>


        <section>

            <div class = "tfcs" id = "tfcs">

                {% for tfc in tfcs %}
                <div >
                    <h2>{{ tfc.titulo }} - {{ tfc.ano }}</h2>
                    <p>Autors: {{ tfc.autor1 }} and {{ tfc.autor2 }}</p>
                    <p>Mentor: {{ tfc.orientador }}</p>
                    <br>
                    <p>{{ tfc.resumo }}</p>
                    <br>

                    <br>
                    <div>
                        <a href="{{ tfc.link }}">
                            <img src="{{ tfc.imagem.url }}" alt="">
                        </a>
                    </div>

                    <br>
                </div>
            {% endfor %}

            </div>

        </section>

    {% endblock main %}

</body>
</html>