<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quizz</title>
</head>
<body>

    {% extends 'portfolio/layout.html' %}

    {% block main %}
        <div class = "introquizz">
            <h1>Quizz</h1>
        </div>

        <div class = "backroundquizz">
            <form class = "quizz" method="POST">
                {% csrf_token %}
                <label>
                    <p>Enter your name</p>
                    <input type="text" name="nome" maxlength="100" placeholder="e.g John">

                </label>

                <label>
                    <p>Django is written in which language?</p>

                    <label for="java">
                        Java
                        <input type="radio" value="java" name="language" id = "java">
                    </label>
                    <label for="python">
                        Python
                        <input type="radio" value="python" name="language" id = "python">
                    </label>
                    <label for="c">
                        C
                        <input type="radio" value="c" name="language" id = "c">
                    </label>
                    <label for="php">
                        PHP
                        <input type="radio" value="php" name="language" id = "php">
                    </label>
                </label>

                <label>
                    <p>What does HTML stand for?</p>

                    <select form="doctype">
                        <option value="home">Home Tool Markup Language</option>
                        <option value="hyperlink">Hyperlinks and Text Markup Language</option>
                        <option value="hypertext">HyperText Markup Language</option>
                    </select>
                </label>

                <label>
                    <p>"!DOCTYPE is case-sensitive in HTML."</p>
                    <label for="true">
                        True
                        <input type="radio" value="true" name="language" id = "true">
                    </label>
                    <label for="false">
                        False
                        <input type="radio" value="false" name="language" id = "false">
                    </label>
                </label>

                <label>
                    <p>What is the output of the following code?</p>
                    <img src="../../static/portfolio/images/question1.png" alt="">

                    <input id="maJ" name="maJ" type="text" size="30" maxlength="24" placeholder="output>>">
                </label>

                <label>
                    <p>What is the purpose of __init__.py in project directories?</p>

                    <label for="useless">
                        It is useless and can be deleted.
                        <input type="radio" value="useless" name="language" id = "useless">
                    </label>
                    <label for="empty">
                        It is used to initialise any empty values.
                        <input type="radio" value="empty" name="language" id = "empty">
                    </label>
                    <label for="package">
                        It allows Python to recognise the folder as package.
                        <input type="radio" value="package" name="language" id = "package">
                    </label>
                    <label for="none">
                        None of the above.
                        <input type="radio" value="none" name="language" id = "none">
                    </label>
                </label>

                <label>
                    <p>When creating a Web document, what format is used to express an image's height and width?</p>

                    <select form="format">
                        <option value="centimeters">Centimeters</option>
                        <option value="pixels">Pixels</option>
                        <option value="dots">Dots per inch</option>
                        <option value="inches">Inches</option>
                    </select>
                </label>

                <label>
                    <p>"< meta > tag cannot be defined in the < head > tag."</p>
                    <label for="true2">
                        True
                        <input type="radio" value="true2" name="defined" id = "true2">
                    </label>
                    <label for="false2">
                        False
                        <input type="radio" value="false2" name="defined" id = "false2">
                    </label>
                </label>

                <label>
                    <p>What is the output of the following code?</p>
                    <img src="../../static/portfolio/images/question2.png" alt="">

                    <input id="10, 11, 12, 13, 14," name="10, 11, 12, 13, 14," type="text" size="30" maxlength="24" placeholder="output>>">
                </label>

            </form>
        </div>


    {% endblock main %}

</body>
</html>