<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web</title>
</head>
<body>

    {% extends 'portfolio/layout.html' %}

    {% block main %}
        {% load static %}

        <div class = "introweb">
            <h1>Web Development</h1>
            <h1>Technologies</h1>
        </div>

        <div class = "tecnologias">

            {% for tecnologia in tecnologias %}
                <div>
                    <div>
                        <a href="{{ tecnologia.link }}">
                            <img src="{{ tecnologia.imagem.url }}" alt="">
                        </a>
                    </div>
                    <div>
                        <p><b>{{ tecnologia.nome }}</b>
                        <br>{{ tecnologia.descricao }}
                        <br>
                            <b>Developer: {{ tecnologia.criador }}</b>
                            <br>
                            Release date: {{ tecnologia.dataLancamento }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class = "introweb">
            <h1>About this website</h1>
            <h1>Entity Relationship Diagram (ERD)</h1>

            <img src="{% static 'portfolio/images/DER.png' %}" alt="">

            <h1>Structure</h1>

            <ul class = "estrutura">
                <li>Home (Hero page)</li>
                <li>About Me
                    <ul>
                        <li>Degree</li>
                        <li>My education</li>
                        <li>Certificates</li>
                        <li>Volunteering</li>
                        <li>Hobbies</li>
                    </ul>
                </li>
                <li>Projects
                    <ul>
                        <li>My Projects</li>
                        <li>Best Final Year Project's from my University</li>
                    </ul>
                </li>
                <li>Blog</li>
                <li>Web
                    <ul>
                        <li>Technologies</li>
                        <li>About this website</li>
                        <li>Quizz</li>
                    </ul>
                </li>
                <li>Contact</li>
                <li>Login</li>
            </ul>

            <h1>Technologies used in the creation of this website</h1>
        </div>

        <div class = "tecnologiasusadas">

            {% for tecnologia in tecnologias %}
                {% if tecnologia.nome == "Python" or tecnologia.nome == "HTML: HyperText Markup Language" or tecnologia.nome == "CSS: Cascade Style Sheet" or tecnologia.nome == "Django" or tecnologia.nome == "JavaScript"%}
                    <div>
                        <div>
                            <a href="{{ tecnologia.link }}">
                                <img src="{{ tecnologia.imagem.url }}" alt="">
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>

        <div class = "introweb">
            <h1>Do you want to test your skills?</h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div>
                <a class = "botaoentrarquizz" href="{% url 'portfolio:quizz' %}">Take this quizz!!</a>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

        </div>



    {% endblock main %}

</body>
</html>