.introcontact {
    padding-right: 30px;
    padding-left: 30px;
    background-color: #e8bde4;
}

.introcontact > p {
    padding-left: 200px;
}

.socials {
    background-color: #e8bde4;
}

.socials img {
    width: 100px;
    height: 100px;
    margin: 40px;
}

.socials a {
    text-decoration: none;
    padding-left: 200px;
}
