.introdegree {
  padding-right: 30px;
  padding-left: 30px;
}

.cadeiras {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 25px 100px;
}

.cadeiras div {
  float: left;
  width: 500px;
  height: 650px;
  padding: 25px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px grey;
}