.intro {
    padding-right: 30px;
    padding-left: 30px;
}

.intro > p {
    padding-left: 200px;
}

.heroImage {
    display: grid;
    height: 95vh;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;

    text-align: center;
    background-color: ghostwhite;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.motivational {
    padding-bottom: 18ch;
    font-size: 50px;
    color: #ffffff;
}

article.primeiro {
  background: #e8bee4;
  padding: 2vw 4vw;
  text-align: center;
}

article.primeiro > p {
    background-color: #e8bee4;
    font-size: 25px;
    min-height: 25vh;
}

article.primeiro > p > b > i {
  font-size: 25px;
}

article.segundo {
  height: 60vh;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  align-items: start;

}

.introtempo {
    background-color: #e8bee4;
    left: 3vw;
    max-width: 150px;
    padding: 20px 20px 20px 20px;
    border-radius: 25px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    margin-left: 200px;
}
