.introquizz {
    padding-right: 30px;
    padding-left: 30px;
    background-color: #e8bde4;
}

.quizz {
    background-color: white;
    display: block;
    width: 1000px;
    vertical-align: middle;
    margin: auto;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 10px 10px 20px #9695e2;
}

.backroundquizz {
    background-color: #e8bde4;
    padding-bottom: 100px;
}

.quizz > label > p {
    padding-top: 25px;
    padding-bottom: 5px;
    font-weight: bold;
}