.botaocriar {
    margin-top: 10px;
    width: 80px;
    height: 35px;
    padding: 5px 10px 5px 10px;
    border: 2px solid #755cd6;
    background-color: #755cd6;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.botaocriar:hover {
    cursor: pointer;
    border: 2px solid #755cd6;
    background-color: white;
    color: #755cd6;
}

.botaocriar:active {
    border: 2px solid #7d7ff1;
    background-color: #7d7ff1;
    color: white;
}

.botaocancelar {
    margin-top: 10px;
    width: 80px;
    height: 35px;
    padding: 3px 7px 3px 7px;
    border: 2px solid #7d7ff1;
    background-color: #7d7ff1;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.botaocancelar:hover {
    cursor: pointer;
    border: 2px solid #7d7ff1;
    background-color: white;
    color: #7d7ff1;
}

.botaocancelar:active {
    border: 2px solid #755cd6;
    background-color: #755cd6;
    color: white;
}